@page "/fundManager/{fundManagerId:guid}/"
@inherits FundManagerPageBase

<MudPaper style="border: hidden;" Height="400px" Width="100%">
    <MudImage Fluid="true" ObjectFit="@ObjectFit.Fill" Style="width: 100%; height: 100%" Src="Images/city-Cool.jpg" Elevation="25" Class="rounded-lg"/>
</MudPaper>
        <MudPaper style="padding:10px; margin-top: 3vh; border: hidden; height: fit-content;" Width="100%">
            <h1>Overview</h1>
            <MudPaper Height="30px" Width="100%" Outlined="true" style="padding-left: 10px; border: hidden;">
                <MudText><b>Fund Manager:</b> @FundManager.Name</MudText>
            </MudPaper>
            <MudGrid Class="mb-4">
                <MudItem xs="12" sm="12" md="9" lg="9"> 
                    <MudStack Row="true">
                        <MudPaper Height="155px" Width="50%" style="position: relative; margin-top: 20px; padding-left: 10px;">
                            <MudText><b>Physical Office</b></MudText>
                            <MudText>@FundManager.PhysicalAddress.Street</MudText>
                            <MudText>@FundManager.PhysicalAddress.Surburb</MudText>
                            <MudText>@FundManager.PhysicalAddress.City</MudText>
                            <MudText>@FundManager.PhysicalAddress.PostalCode</MudText>
                            <MudText>@FundManager.PhysicalAddress.Telephone</MudText>
                            <MudIcon @onclick="() => FundManagerPhysicalPopover(FundManager)" Style="cursor: pointer; position:absolute; right: 2%; bottom: 10%" Icon="@Icons.Filled.EditLocationAlt"></MudIcon>
                        </MudPaper>
                        <MudPaper Height="155px" Width="50%" Style="position: relative; margin-top: 20px; padding-left: 10px;">
                            <MudText><b>Registered Office</b></MudText>
                            <MudText>@FundManager.RegisteredAddress.Street</MudText>
                            <MudText>@FundManager.RegisteredAddress.Surburb</MudText>
                            <MudText>@FundManager.RegisteredAddress.City</MudText>
                            <MudText>@FundManager.RegisteredAddress.PostalCode</MudText>
                            <MudText>@FundManager.RegisteredAddress.Telephone</MudText>
                            <MudIcon @onclick="() => FundManagerRegisteredPopover(FundManager)" Style="cursor: pointer; position:absolute; right: 2%; bottom: 10%" Icon="@Icons.Filled.EditLocationAlt"></MudIcon>
                        </MudPaper>
                    </MudStack>
                </MudItem>
                <MudItem xs="12" sm="12" md="3" lg="3">
                    <MudPaper Height="155px" Class="pb-3" Style="margin-top: 20px; padding: 10px; padding-top: 0px; overflow-y: scroll; overflow-x: hidden;">
                        <MudText><b>About Us</b></MudText>   
                        <MudGrid>
                            <MudItem xs="12">
                                <MudGrid Justify="Justify.FlexStart">
                                        @foreach (var image in FundManager.AboutUs)
                                        {                  
                                            <MudItem xs="12" sm="6">
                                                <MudPaper Class="d-flex flex-column align-center justify-center mud-width-full">
                                                    <MudImage style="width: 100%" Src="@image.ImageUrl" Elevation="25" Class="rounded-lg" />
                                                </MudPaper>
                                            </MudItem>
                                        }
                                </MudGrid>
                            </MudItem>
                        </MudGrid>
                    </MudPaper>
                </MudItem>
            </MudGrid>
                    <!--FundManager Physical Address Popover-->
                    <MudPopover Style="Padding: 20px;" Open="@FundManagerPhysicalIsOpen" AnchorOrigin="Origin.CenterCenter" TransformOrigin="Origin.CenterCenter">
                        <EditForm Model="@Address" OnValidSubmit="Submit">
                            <DataAnnotationsValidator />
                            <MudTextField Label="Street" HelperText="Please enter your street"
                                          @bind-Value="Address.Street" For="@(() => Address.Street)" />
                            <MudTextField Label="Surburb" HelperText="Please enter your surburb"
                                          @bind-Value="Address.Surburb" For="@(() => Address.Surburb)" />
                            <MudTextField Label="City" Class="mt-3" HelperText="Please enter your city"
                                          @bind-Value="Address.City" For="@(() => Address.City)" />
                            <MudTextField Label="Postal Code" Class="mt-3" HelperText="Please enter your postal code"
                                          @bind-Value="Address.PostalCode" For="@(() => Address.PostalCode)" />
                            <MudTextField Label="Telephone" Class="mt-3" HelperText="Please enter your telephone number"
                                          @bind-Value="Address.Telephone" For="@(() => Address.Telephone)" />
                            <MudButton OnClick="Cancel">Cancel</MudButton>
                            <MudButton Color="Color.Primary" ButtonType="ButtonType.Submit">Save</MudButton>
                        </EditForm>     
                    </MudPopover>
                    <!--FundManager Registered Address Popover-->
                    <MudPopover Style="Padding: 20px;" Open="@FundManagerRegisteredIsOpen" AnchorOrigin="Origin.CenterCenter" TransformOrigin="Origin.CenterCenter">
                        <EditForm Model="@Address" OnValidSubmit="Submit">
                            <DataAnnotationsValidator /> 
                            <MudTextField Label="Street" HelperText="Please enter your street"
                                          @bind-Value="Address.Street" For="@(() => Address.Street)" />
                            <MudTextField Label="Surburb" HelperText="Please enter your surburb"
                                          @bind-Value="Address.Surburb" For="@(() => Address.Surburb)" />
                            <MudTextField Label="City" Class="mt-3" HelperText="Please enter your city"
                                          @bind-Value="Address.City" For="@(() => Address.City)" />
                            <MudTextField Label="Postal Code" Class="mt-3" HelperText="Please enter your postal code"
                                          @bind-Value="Address.PostalCode" For="@(() => Address.PostalCode)" />
                            <MudTextField Label="Telephone" Class="mt-3" HelperText="Please enter your telephone number"
                                          @bind-Value="Address.Telephone" For="@(() => Address.Telephone)" />
                            <MudButton OnClick="Cancel">Cancel</MudButton>
                            <MudButton Color="Color.Primary" ButtonType="ButtonType.Submit">Save</MudButton>
                        </EditForm>
                    </MudPopover>
                    <!--Fund Physical Address Popover-->
                    <MudPopover Style="Padding: 20px;" Open="@FundPhysicalIsOpen" AnchorOrigin="Origin.CenterCenter" TransformOrigin="Origin.CenterCenter">
                        <EditForm Model="@Address" OnValidSubmit="Submit">
                            <DataAnnotationsValidator />
                            <MudTextField Label="Street" HelperText="Please enter your street"
                                          @bind-Value="Address.Street" For="@(() => Address.Street)" />
                            <MudTextField Label="Surburb" HelperText="Please enter your surburb"
                                          @bind-Value="Address.Surburb" For="@(() => Address.Surburb)" />
                            <MudTextField Label="City" Class="mt-3" HelperText="Please enter your city"
                                          @bind-Value="Address.City" For="@(() => Address.City)" />
                            <MudTextField Label="Postal Code" Class="mt-3" HelperText="Please enter your postal code"
                                          @bind-Value="Address.PostalCode" For="@(() => Address.PostalCode)" />
                            <MudTextField Label="Telephone" Class="mt-3" HelperText="Please enter your telephone number"
                                          @bind-Value="Address.Telephone" For="@(() => Address.Telephone)" />
                            <MudButton OnClick="Cancel">Cancel</MudButton>
                            <MudButton Color="Color.Primary" ButtonType="ButtonType.Submit">Save</MudButton>
                        </EditForm>
                    </MudPopover>
                    <!--Fund Registered Address Popover-->
                    <MudPopover Style="Padding: 20px;" Open="@FundRegisteredIsOpen" AnchorOrigin="Origin.CenterCenter" TransformOrigin="Origin.CenterCenter">
                         <EditForm Model="@Address" OnValidSubmit="Submit">
                            <DataAnnotationsValidator />
                            <MudTextField Label="Street" HelperText="Please enter your street"
                                          @bind-Value="Address.Street" For="@(() => Address.Street)" />
                            <MudTextField Label="Surburb" HelperText="Please enter your surburb"
                                          @bind-Value="Address.Surburb" For="@(() => Address.Surburb)" />
                            <MudTextField Label="City" Class="mt-3" HelperText="Please enter your city"
                                          @bind-Value="Address.City" For="@(() => Address.City)" />
                            <MudTextField Label="Postal Code" Class="mt-3" HelperText="Please enter your postal code"
                                          @bind-Value="Address.PostalCode" For="@(() => Address.PostalCode)" />
                            <MudTextField Label="Telephone" Class="mt-3" HelperText="Please enter your telephone number"
                                          @bind-Value="Address.Telephone" For="@(() => Address.Telephone)" />
                            <MudButton OnClick="Cancel">Cancel</MudButton>
                            <MudButton Color="Color.Primary" ButtonType="ButtonType.Submit">Save</MudButton>
                         </EditForm>
                    </MudPopover>      
                    @foreach(var fund in FundManager.Funds){
                    <MudPaper Height="30px" Width="100%" Outlined="true" Style="margin-top: 20px; padding-left: 10px; border: hidden;">
                        <MudText><b>Fund:</b> @fund.Name</MudText>
                    </MudPaper>
                    <MudStack Row="true">
                        <MudPaper Height="155px" Width="50%" style="position: relative; margin-top: 20px; padding-left: 10px;">
                            <MudText><b>Physical Office</b></MudText>
                            <MudText>@fund.PhysicalAddress.Street</MudText>
                            <MudText>@fund.PhysicalAddress.Surburb</MudText>
                            <MudText>@fund.PhysicalAddress.City</MudText>
                            <MudText>@fund.PhysicalAddress.PostalCode</MudText>
                            <MudText>@fund.PhysicalAddress.Telephone</MudText>
                            <MudIcon @onclick="() => FundPhysicalPopover(fund)" Style="cursor: pointer; position:absolute; right: 2%; bottom: 10%" Icon="@Icons.Filled.EditLocationAlt"></MudIcon>
                        </MudPaper>
                        <MudPaper Height="155px" Width="50%" style="position: relative; margin-top: 20px; padding-left: 10px;">
                            <MudText><b>Registered Office</b></MudText>
                            <MudText>@fund.RegisteredAddress.Street</MudText>
                            <MudText>@fund.RegisteredAddress.Surburb</MudText>
                            <MudText>@fund.RegisteredAddress.City</MudText>
                            <MudText>@fund.RegisteredAddress.PostalCode</MudText>
                            <MudText>@fund.RegisteredAddress.Telephone</MudText>
                            <MudIcon @onclick="() => FundRegisteredPopover(fund)" Style="cursor: pointer; position:absolute; right: 2%; bottom: 10%" Icon="@Icons.Filled.EditLocationAlt"></MudIcon>
                        </MudPaper>
                    </MudStack>      
                    }
                </MudPaper>
    <MudPaper Width="100%" Style="margin-top: 20px; padding: 10px;">
        <h1>Partners and Advisors</h1>
            @foreach (var advisor in FundManager.Advisors) {
                <MudStack Row="true">
                    <MudImage Style="width: 30%; height: 210px; margin-top: 20px;" Src="@advisor.LogoUrl" Elevation="25" Class="rounded-lg"/>
                    <MudPaper Elevation="0" style="margin-top: 20px; padding: 10px; width: 95%">
                        <MudText>@advisor.Description</MudText>
                        <MudPaper Height="155px" Width="100%" style="margin-top: 20px; padding-left: 10px;  padding-right: 10px;">
                            <h2>@advisor.Name</h2>
                            <MudText>@advisor.Address.Street</MudText>
                            <MudText>@advisor.Address.Surburb, @advisor.Address.City</MudText>
                            <MudText>@advisor.Address.PostalCode</MudText>
                            <MudStack Row="true">
                                <MudText>@advisor.Address.Telephone</MudText>
                                <MudSpacer/>       
                                <MudLink Href="@advisor.SocialMedia.Facebook"><MudIcon Icon="@Icons.Custom.Brands.Facebook"></MudIcon></MudLink>
                                <MudLink Href="@advisor.SocialMedia.Twitter"><MudIcon Icon="@Icons.Custom.Brands.Twitter"></MudIcon></MudLink>
                                <MudLink Href="@advisor.SocialMedia.LinkedIn"><MudIcon Icon="@Icons.Custom.Brands.LinkedIn"></MudIcon></MudLink>
                            </MudStack>
                        </MudPaper>
                    </MudPaper>
                </MudStack>
            }
    </MudPaper>